@import './fonts.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background: #fffefc;
	color: #313131;
	font-family: 'Plus Jakarta Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
	font-size: 52px;
}

.wrapper {
	.wrapper__inner {
		display: grid;
		place-items: center;
		min-height: 100vh;
	}
}

.checklist {
	background: #fdfdfd;
	padding: 40px 40px;
	min-width: 400px;
	box-shadow: 2px 2px 10px 1px rgba(#313131, 0.2);
	border-radius: 4px;
}

.checklist ul {
	padding-left: 0;
	list-style: none;
}

.checklist li {
	position: relative;
	// padding: 10px 34px;
	// border-left: 4px solid #2373ba;
	// border-radius: 4px;
	// box-shadow: 2px 2px 10px 1px rgba(#313131, 0.2);
}

.checklist li + li {
	margin-top: 14px;
}

.checklist li input {
	display: none;
}

.checklist li input:checked ~ label {
	background-color: #8eda8e;
	color: #fdfdfd;
}

.checklist li label {
	display: block;
	padding: 14px 34px;
	border-left: 4px solid #2373ba;
	border-radius: 4px;
	box-shadow: 2px 2px 10px 1px rgba(#313131, 0.2);
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.checklist__progress p {
	height: 1em;
}

.checklist__progress p:not(.active) {
	visibility: hidden;
}
